*{
    --background-opacity: 0.3;
    --background-floating-opacity: 0.8;
}

.theme-dark {
    --background-primary: hsla(220, 8%, 23%, var(--background-opacity));
    --background-secondary: hsla(223, 7%, 20%, var(--background-opacity));
    --background-secondary-alt: hsla(220, 7%, 17%, var(--background-opacity));
    --background-tertiary: hsla(216, 7%, 14%, var(--background-opacity));
    --background-accent: hsla(217, 8%, 34%, var(--background-opacity));
    --background-floating: hsla(225, 8%, 10%, var(--background-floating-opacity));
    --background-mobile-primary: hsla(220, 8%, 23%, var(--background-opacity));
    --background-mobile-secondary: hsla(223, 7%, 20%, var(--background-opacity));
}