// Config

configuration {
	modi: "drun,window,run,combi";
	cycle: true;
	show-icons: true;
	display-drun: "";
	display-window: "";
	matching: "glob";
	lines: 12;
	columns: 3;
	width: 800;
	location: 0;
	padding: 50;
	font: "FiraCode Nerd Font Mono 10";
	hide-scrollbar: true;
	theme: "javacafe";
	display-combi: "rofi";
}